.landing {
    background-image: url("C:\Users\Pablo\Documents\angusdigital\Proyectos\SoyHenry\Soy Henry - PI\PI-Food\client\src\assets\libros-de-cocina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;
    width: 100vw;
  }
