
.Newrecipe{
  display: flex;
  padding-top: 20px;
  padding-left: 500px;
  box-sizing: border-box;
  background-image: url("C:\Users\Pablo\Documents\angusdigital\Proyectos\SoyHenry\Soy Henry - PI\PI-Food\client\src\assets\Newrecipe.jpg");
  background-size: cover;
  width: 100vw;
  height: 91vh; 
}
